@import  "csswizardry-grids";
* {margin:0;padding:0;box-sizing:border-box;}
body {
    background: #fff;
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px; /*Base font size=18pt=24px !Edited to 18px*/
    color: #784213; /*light brown*/
}
header {
  background: #fff url(../images/heroimage.jpg) no-repeat center center;
  background-size: cover;
  min-height: 900px;
  padding: 1em 0 5em 1em;
}
#main-headline, h1 {
  font-size: 2.8888em;/*Main headers=52pt=104px=4.333em*/
  color: #663f1c;/*dark brown*/
  font-weight: bold;
  margin: 4em auto 0 0;
}
h2 { /*subheadings in //FEATURES and question at top of //FOOTER*/
  font-size: 2.222em;
  color: #784213; /*light brown*/
}
.main-text, h3 { /*subheader in //HEADER AKA class .main-text*/
  font-size: 1.5555em;
  color: #784213; /*light brown*/
  margin: 1em 0 1em 0;
}
// Header
#logo {
  float: left;
}
#logo img {
   height: 100%;
   width: 100%;
}
#toplogin-btn {
  border-width: 1px;
  border-color: rgb(120, 66, 19);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  float: right;
  width: 141px;
  height: 55px;
}
#toplogin-btn p {
  position: absolute;
  left: 845px;
  top: 15px;
}
// Message Section
#message {
  background-color: #fde1a2;
  padding-top: 8em;
  padding-bottom: 8em;
}
#message img {
   height: 100%;
   width: 100%;
}
#message h1 {
  text-align: center;
}
// Social Proof Section
// Features
// Footer
.wrapper {
  margin: 0 auto 0 auto;
  width: 940px;
  position: relative;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
/*Copied CSS from PSD below*/



